# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
db.sqlite3
*.log
local_settings.py

# Environments
.env
venv/
env/

# Static files (if you are using a CDN)
staticfiles/

# IDE files
.idea/
.vscode/
*.iml